<div class="container">
  <h1>カモタカツノミノカモ</h1>
  <h2>Welcome to Kamotake restaurant!</h2>

  <img src="/assets/watashi.jpg" alt="Watashi" width="700" height="auto"/>

  <h2>
    Here's your meal!
  </h2>

  <div class="slider">
    <input type="range" min="5" max="20" value="10" class="slider" id="myRange"/>
    <p style="text-align: center">Grid size: <span id="demo"></span></p>
  </div>

  <div class="solution">
    <h1 class="solution-name"><%= @name.upcase %></h1>

    <table>
      <% @solution.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td class="<%= cell ? "black" : "white" %>"></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <%# Are you still hungry? (Redirect to /) %>
  <div>
    Are you still hungry? <br/>
    <%= link_to "Order again", root_path %>
  </div>
</div>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
        td = document.querySelectorAll("td");
        td.forEach((element) => {
            element.style.width = this.value + "px";
            element.style.height = this.value + "px";
        });
    };
</script>
